*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #d6aa8d;
    font-family: 'Orbitron', sans-serif;
}

body{
    background-color:  #FFFFF0;
}

h1{
    text-align: center;
    font-size: 40px;
}

.main-container , form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-container{
    min-height: 70vh;
}

input:hover{
    border-radius: 20px;
    transition: all 0.5s;
    /* padding: 5px; */
    color:rgb(60, 14, 187) ;
    background-color: #d8bba9;
    height: 25px;
}

input{
    margin: 15px;
    color: blueviolet;
    padding: 5px;
}

form{
    background-color: #2b2b2b;
    padding: 30px;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 30px #96634e;
}

.resultParas {
    text-align: center;
}